<div class="header">
    <div class="half-cyan-block">&nbsp;</div>
    <div class="half-magenta-block">&nbsp;</div>
    <div class="main-container">
      <div class="inner-container">
        <div class="item">
          <h1>
            <div class="cyan-background">Hackathon</div>
          </h1>
        </div>
        <div class="item">
          <div class="spacing">&nbsp;</div>
        </div>
        <div class="item">
          <h1>
            <div class="magenta-background">FAQ</div>
          </h1>
        </div>
      </div>
      <div class="inner-container">
        <div class="item">
          <h1><div class="yellow-background">Coming Soon</div></h1>
        </div>
      </div>
    </div>
    <div class="half-cyan-block">&nbsp;</div>
    <div class="half-magenta-block">&nbsp;</div>
  </div>
  <div class="yellow-block">&nbsp;</div>
  <div class="body">
    <div class="body-inner-container">
      <div class="body-item">
        <h5>What is a hackathon?</h5> 
        <p>A hackathon is a weekend-long event where students form teams and collaborate on a software or hardware project to learn
        new skills, create social impact, participate in sponsor challenges, and innovate new solutions! There’s also plenty of
        time for networking with sponsors, meeting other hackers, and attending workshops and mini events! In short, it’s a
        weekend dedicated to collaboration, technology, and community :)</p>
      </div>
      <div class="magenta-block">&nbsp;</div>
    </div>
    <div class="body-inner-container">
        <div class="body-item">
            <h5>Who can attend?</h5>
        <p>...</p>
        </div>
        <div class="magenta-block">&nbsp;</div>
    </div>
    <div class="body-inner-container">
        <div class="body-item">
            <h5>How much does it cost to participate?</h5>
            <p>RowdyHacks is completely FREE to attend, thanks to our awesome sponsors. You don't have to worry about a thing -- we'll
            provide meals, snacks, t-shirts, swag, prizes, and more all weekend long!</p>
        </div>
        <div class="magenta-block">&nbsp;</div>
    </div>
  </div>