<div class="header">
  <div class="half-cyan-block">&nbsp;</div>
  <div class="half-magenta-block">&nbsp;</div>
  <div class="texture-5op">
    <div class="main-container">
      <div class="inner-container">
        <div class="item">
          <h1>
            <div class="cyan-background">Hackathon</div>
          </h1>
        </div>
        <div class="item">
          <div class="spacing">&nbsp;</div>
        </div>
        <div class="item">
          <h1>
            <div class="magenta-background">FAQ</div>
          </h1>
        </div>
      </div>
    </div>
  </div>
  <div class="half-cyan-block">&nbsp;</div>
  <div class="half-magenta-block">&nbsp;</div>
</div>
<div class="yellow-block">&nbsp;</div>
<div class="primary end">
  <div class="col-primary">
    <div class="col-primary-inner-container">
      <div class="texture-7op">
        <div class="primary-item faq">
          <div class="inner-container show">
            <div class="arrows">
              <img src="./assets/images/arrows_right.svg" />
            </div>
            <div class="item">
              <div class="faq-spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="cyan-background">What</div>
              </h1>
            </div>
            <div class="item">
              <div class="faq-spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="magenta-background">Is</div>
              </h1>
            </div>
            <div class="item">
              <div class="faq-spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="cyan-background">A</div>
              </h1>
            </div>
            <div class="item">
              <div class="faq-spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="magenta-background">Hackathon?</div>
              </h1>
            </div>
          </div>
          <div class="show-background" style="display: none;">
            <p>A hackathon is a weekend-long event where students form teams and collaborate on a software or hardware project to learn new skills, create social impact, participate in sponsor challenges, and innovate new solutions! 
              There’s also plenty of time for networking with sponsors, meeting other hackers, and attending workshops and mini events! 
              In short, it’s a weekend dedicated to collaboration, technology, and community :)</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-primary-inner-container">
      <div class="texture-7op">
        <div class="primary-item faq">
          <div class="inner-container show">
            <div class="arrows">
              <img src="./assets/images/arrows_right.svg" />
            </div>
            <div class="item">
              <div class="faq-spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="cyan-background">What</div>
              </h1>
            </div>
            <div class="item">
              <div class="faq-spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="magenta-background">will</div>
              </h1>
            </div>
            <div class="item">
              <div class="faq-spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="cyan-background">I</div>
              </h1>
            </div>
            <div class="item">
              <div class="faq-spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="magenta-background">need?</div>
              </h1>
            </div>
          </div>
          <div class="show-background" style="display: none;">
            <p>RowdyHacks is a weekend-long event, and we want to make sure you’re prepared!</p>
            <p>We encourage you to bring a change of clothes and any hygiene items you might need. 
              With COVID still ongoing, we also encourage our hackers to mask up during the event.</p>
            <p>Any hardware you plan on using for the project -- your laptop, charger, portable mouse, phone, 
              Raspberry Pi, VR headset, robots, etc.</p>
            <p>While we cannot designate a sleeping area (per university rules), we also can’t stop you from napping! 
              Since our event is overnight, feel free to bring a pillow and blanket and get comfy.</p>
            <p>While we will be providing meals, drinks, and snacks, 
              you’re more than welcome to bring any snacks or drinks you’d like to enjoy. 
              There will also be water bottle fill-up stations, so feel free to bring a reusable water bottle!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-primary">
    <div class="col-primary-inner-container">
      <div class="texture-7op">
        <div class="primary-item faq">
          <div class="inner-container show">
            <div class="arrows">
              <img src="./assets/images/arrows_right.svg" />
            </div>
            <div class="item">
              <div class="faq-spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="magenta-background">How</div>
              </h1>
            </div>
            <div class="item">
              <div class="faq-spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="cyan-background">much</div>
              </h1>
            </div>
            <div class="item">
              <div class="faq-spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="magenta-background">does</div>
              </h1>
            </div>
            <div class="item">
              <div class="faq-spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="cyan-background">it</div>
              </h1>
            </div>
            <div class="item">
              <div class="faq-spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="magenta-background">cost</div>
              </h1>
            </div>
            <div class="item">
              <div class="faq-spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="cyan-background">to</div>
              </h1>
            </div>
            <div class="item">
              <div class="faq-spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="cyan-background">Participate?</div>
              </h1>
            </div>
          </div>
          <div class="show-background" style="display: none;">
            <p>RowdyHacks is completely FREE to attend, thanks to our awesome sponsors. 
              You don't have to worry about a thing -- we'll provide meals, snacks, t-shirts, swag, prizes, 
              and more all weekend long!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-primary-inner-container">
      <div class="texture-7op">
        <div class="primary-item faq">
          <div class="inner-container show">
            <div class="arrows">
              <img src="./assets/images/arrows_right.svg" />
            </div>
            <div class="item">
              <div class="faq-spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="cyan-background">What</div>
              </h1>
            </div>
            <div class="item">
              <div class="faq-spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="magenta-background">if</div>
              </h1>
            </div>
            <div class="item">
              <div class="faq-spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="cyan-background">I</div>
              </h1>
            </div>
            <div class="item">
              <div class="faq-spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="magenta-background">don't</div>
              </h1>
            </div>
            <div class="item">
              <div class="faq-spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="cyan-background">know</div>
              </h1>
            </div>
            <div class="item">
              <div class="faq-spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="magenta-background">how</div>
              </h1>
            </div>
            <div class="item">
              <div class="faq-spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="cyan-background">to</div>
              </h1>
            </div>
            <div class="item">
              <div class="faq-spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="magenta-background">code?</div>
              </h1>
            </div>
          </div>
          <div class="show-background" style="display: none;">
            <p>No worries! RowdyHacks is for everyone from all coding and non-coding backgrounds! 
              We will have plenty of mentors, resources, and workshops to help you learn throughout the event..</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-primary">
    <div class="col-primary-inner-container">
      <div class="texture-7op">
        <div class="primary-item faq">
          <div class="inner-container show">
            <div class="arrows">
              <img src="./assets/images/arrows_right.svg" />
            </div>
            <div class="item">
              <div class="faq-spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="cyan-background">How</div>
              </h1>
            </div>
            <div class="item">
              <div class="faq-spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="magenta-background">big</div>
              </h1>
            </div>
            <div class="item">
              <div class="faq-spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="cyan-background">can</div>
              </h1>
            </div>
            <div class="item">
              <div class="faq-spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="magenta-background">my</div>
              </h1>
            </div>
            <div class="item">
              <div class="faq-spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="cyan-background">teams</div>
              </h1>
            </div>
            <div class="item">
              <div class="faq-spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="magenta-background">be?</div>
              </h1>
            </div>
          </div>
          <div class="show-background" style="display: none;">
            <p>Teams can consist of up to 4 students! We encourage hackers to participate as part of a team. 
              Don't have a team? No worries, we will have an opportunity before the event for you to meet other hackers 
              and form teams!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-primary-inner-container">
      <div class="texture-7op">
        <div class="primary-item faq">
          <div class="inner-container show">
            <div class="arrows">
              <img src="./assets/images/arrows_right.svg" />
            </div>
            <div class="item">
              <div class="faq-spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="cyan-background">How</div>
              </h1>
            </div>
            <div class="item">
              <div class="faq-spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="magenta-background">long</div>
              </h1>
            </div>
            <div class="item">
              <div class="faq-spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="cyan-background">is</div>
              </h1>
            </div>
            <div class="item">
              <div class="faq-spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="magenta-background">this</div>
              </h1>
            </div>
            <div class="item">
              <div class="faq-spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="cyan-background">hackathon?</div>
              </h1>
            </div>
          </div>
          <div class="show-background" style="display: none;">
            <p>This year RowdyHacks will be a 36-hour event, 24 hours of which will be dedicated to hacking.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-primary">
    <div class="col-primary-inner-container">
      <div class="texture-7op">
        <div class="primary-item faq">
          <div class="inner-container show">
            <div class="arrows">
              <img src="./assets/images/arrows_right.svg" />
            </div>
            <div class="item">
              <div class="faq-spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="cyan-background">Who</div>
              </h1>
            </div>
            <div class="item">
              <div class="faq-spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="magenta-background">Can</div>
              </h1>
            </div>
            <div class="item">
              <div class="faq-spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="cyan-background">Attend?</div>
              </h1>
            </div>
          </div>
          <div class="show-background" style="display: none;">
            <p>Any university, college, or vocational student 18 or older can attend!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-primary-inner-container">
      <div class="texture-7op">
        <div class="primary-item faq">
          <div class="inner-container show">
            <div class="arrows">
              <img src="./assets/images/arrows_right.svg" />
            </div>
            <div class="item">
              <div class="faq-spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="cyan-background">What</div>
              </h1>
            </div>
            <div class="item">
              <div class="faq-spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="magenta-background">can</div>
              </h1>
            </div>
            <div class="item">
              <div class="faq-spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="cyan-background">my</div>
              </h1>
            </div>
            <div class="item">
              <div class="faq-spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="magenta-background">project</div>
              </h1>
            </div>
            <div class="item">
              <div class="faq-spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="cyan-background">be?</div>
              </h1>
            </div>
          </div>
          <div class="show-background" style="display: none;">
            <p>Anything! You can make a new social media website, a simple weather app, 
              a sentimental analysis tool for tweets, a game... anything you can imagine, you can create.</p>
            <p>Your team can come prepared with an idea or come up with one on the spot. 
              We’ll have workshops, resources, and mentors to help you out with your project as well!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-primary">
    <div class="col-primary-inner-container">
      <div class="texture-7op">
        <div class="primary-item faq">
          <div class="inner-container show">
            <div class="arrows">
              <img src="./assets/images/arrows_right.svg" />
            </div>
            <div class="item">
              <div class="faq-spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="cyan-background">Can</div>
              </h1>
            </div>
            <div class="item">
              <div class="faq-spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="magenta-background">I</div>
              </h1>
            </div>
            <div class="item">
              <div class="faq-spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="cyan-background">work</div>
              </h1>
            </div>
            <div class="item">
              <div class="faq-spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="magenta-background">on</div>
              </h1>
            </div>
            <div class="item">
              <div class="faq-spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="cyan-background">previous</div>
              </h1>
            </div>
            <div class="item">
              <div class="faq-spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="magenta-background">projects?</div>
              </h1>
            </div>
          </div>
          <div class="show-background" style="display: none;">
            <p>If you plan to submit your project to any of our competition tracks, your project must be started from scratch when hacking begins the weekend of the event. 
              However, you can start brainstorming your ideas or learning new skills you might need for your project prior to the event.
            </p>
            <p>If you would like to use the RowdyHacks weekend to work on previous projects and attend workshops or network with our sponsors, 
              you’re free to do so as long as you do not submit that project to any of our competition tracks.
            </p>
            <p>Any team found submitting previous projects will be automatically disqualified.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-primary-inner-container">
      <div class="texture-7op">
        <div class="primary-item faq">
          <div class="inner-container show">
            <div class="arrows">
              <img src="./assets/images/arrows_right.svg" />
            </div>
            <div class="item">
              <div class="faq-spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="cyan-background">What</div>
              </h1>
            </div>
            <div class="item">
              <div class="faq-spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="magenta-background">if</div>
              </h1>
            </div>
            <div class="item">
              <div class="faq-spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="cyan-background">I'm</div>
              </h1>
            </div>
            <div class="item">
              <div class="faq-spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="magenta-background">not</div>
              </h1>
            </div>
            <div class="item">
              <div class="faq-spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="cyan-background">a</div>
              </h1>
            </div>
            <div class="item">
              <div class="faq-spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="magenta-background">UTSA</div>
              </h1>
            </div>
            <div class="item">
              <div class="faq-spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="cyan-background">student?</div>
              </h1>
            </div>
          </div>
          <div class="show-background" style="display: none;">
            <p>Not a UTSA student? No problem! 
              RowdyHacks is open to ANY college, university, or vocational student over 18 years old. 
              We're so excited to see students from all over collaborating and innovating together at this year's event!!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-primary">
    <div class="col-primary-inner-container">
      <div class="texture-7op">
        <div class="primary-item faq">
          <div class="inner-container show">
            <div class="arrows">
              <img src="./assets/images/arrows_right.svg" />
            </div>
            <div class="item">
              <div class="faq-spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="cyan-background">What</div>
              </h1>
            </div>
            <div class="item">
              <div class="faq-spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="magenta-background">competition</div>
              </h1>
            </div>
            <div class="item">
              <div class="faq-spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="cyan-background">tracks</div>
              </h1>
            </div>
            <div class="item">
              <div class="faq-spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="magenta-background">will</div>
              </h1>
            </div>
            <div class="item">
              <div class="faq-spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="cyan-background">be</div>
              </h1>
            </div>
            <div class="item">
              <div class="faq-spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="magenta-background">offered</div>
              </h1>
            </div>
            <div class="item">
              <div class="faq-spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="cyan-background">this</div>
              </h1>
            </div>
            <div class="item">
              <div class="faq-spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="magenta-background">year?</div>
              </h1>
            </div>
          </div>
          <div class="show-background" style="display: none;">
            <p>Hackers can submit their projects to either the Learners Track 
              (geared towards those who are in intro CS classes or those who haven't coded before) 
              or the General Track (for those with moderate to advanced skills). 
              In addition to submitting projects to a competition track, 
              hackers can also submit their project for Best Retro Hack, Best Hardware Hack, or Sponsor Challenge prizes.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-primary-inner-container">
      <div class="texture-7op">
        <div class="primary-item faq">
          <div class="inner-container show">
            <div class="arrows">
              <img src="./assets/images/arrows_right.svg" />
            </div>
            <div class="item">
              <div class="faq-spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="cyan-background">What</div>
              </h1>
            </div>
            <div class="item">
              <div class="faq-spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="magenta-background">if</div>
              </h1>
            </div>
            <div class="item">
              <div class="faq-spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="cyan-background">this</div>
              </h1>
            </div>
            <div class="item">
              <div class="faq-spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="magenta-background">FAQ</div>
              </h1>
            </div>
            <div class="item">
              <div class="faq-spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="cyan-background">didn't</div>
              </h1>
            </div>
            <div class="item">
              <div class="faq-spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="magenta-background">answer</div>
              </h1>
            </div>
            <div class="item">
              <div class="faq-spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="cyan-background">my</div>
              </h1>
            </div>
            <div class="item">
              <div class="faq-spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="magenta-background">question?</div>
              </h1>
            </div>
          </div>
          <div class="show-background" style="display: none;">
            <p>Please e-mail <a href="mailto:team@rowdyhacks.org">team@rowdyhacks.org</a>. 
              We’ll be happy to answer any questions you have.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>