<div class="layoutadj">
    <div class="yellow-block">&nbsp;</div>
    <div class="header">
        <div class="half-cyan-block">&nbsp;</div>
        <div class="half-magenta-block">&nbsp;</div>
        <div class="texture-5op">
            <div class="main-container">
                <div class="inner-container">
                    <div class="item">
                        <h1>
                            <div class="cyan-background">Tracks</div>
                        </h1>
                    </div>
                    <div class="item">
                        <div class="spacing">&nbsp;</div>
                    </div>
                    <div class="item">
                        <h1>
                            <div class="magenta-background">and</div>
                        </h1>
                    </div>
                    <div class="item">
                        <div class="spacing">&nbsp;</div>
                    </div>
                    <div class="item">
                        <h1>
                            <div class="cyan-background">Challenges!</div>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="half-cyan-block">&nbsp;</div>
        <div class="half-magenta-block">&nbsp;</div>
    </div>
    <div class="yellow-block">&nbsp;</div>
    <div class="primary end primary-adj">
        <div class="col-primary tracks">
            <div class="col-primary-inner-container">
                <div class="texture-7op">
                    <div class="primary-item tracks">
                        <div class="inner-container show">
                            <div class="arrows">
                                <img src="../../assets/images/arrows_right.svg" />
                            </div>
                            <div class="item">
                                <div class="tracks-spacing">&nbsp;</div>
                            </div>
                            <div class="item">
                                <h1>
                                    <div class="cyan-background">General</div>
                                </h1>
                            </div>
                            <div class="item">
                                <div class="tracks-spacing">&nbsp;</div>
                            </div>
                            <div class="item">
                                <h1>
                                    <div class="magenta-background">Track</div>
                                </h1>
                            </div>
                        </div>
                        <div class="show-background" style="display: none;">
                            <p>If you already have an idea in mind or want to create a project that doesn't fall under one of our tracks, our General Track is for you!</p>
                            <h2>Prizes</h2>
                            <ul>
                                <li>1st Place:Mechanical keyboard + HyperX microphone</li>
                                <li>2nd Place:Apple TV</li>
                            </ul>
                            <h2>Example Projects from 2020</h2>
                            <ul>
                                <li><a href=" https://devpost.com/software/homerecipes" target="_blank">Home Recipes</a></li>
                                <li><a href="https://devpost.com/software/openbed" target="_blank">OpenBed</a></li>
                                <li><a href="https://devpost.com/software/memory-notes" target="_blank">Memory Notes</a></li>
                                <li><a href="https://devpost.com/software/apartly" target="_blank">Apartly</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-primary-inner-container">
                <div class="texture-7op">
                    <div class="primary-item tracks">
                        <div class="inner-container show">
                            <div class="arrows">
                                <img src="../../assets/images/arrows_right.svg" />
                            </div>
                            <div class="item">
                                <div class="tracks-spacing">&nbsp;</div>
                            </div>
                            <div class="item">
                                <h1>
                                    <div class="cyan-background">Learners</div>
                                </h1>
                            </div>
                            <div class="item">
                                <div class="tracks-spacing">&nbsp;</div>
                            </div>
                            <div class="item">
                                <h1>
                                    <div class="magenta-background">Track</div>
                                </h1>
                            </div>
                        </div>
                        <div class="show-background" style="display: none;">
                            <p>First-time coders with no technical experience have the opportunity to learn coding basics and be able to compete against other first-time hackers for prizes. This track is specifically for people who have never coded before!</p>
                            <h2>Prizes</h2>
                            <ul>
                                <li>1st place: Mechanical Keyboard + Ikea gift card</li>
                                <li>2nd place: Roku + 6 months of Netflix</li>
                            </ul>
                            <h2>Example Projects from 2020</h2>
                            <ul>
                                <li><a href="https://devpost.com/software/ecocycle-9j6pig" target="_blank">EcoCycle</a></li>
                                <li><a href="https://devpost.com/software/quaranteam-bq09gh" target="_blank">Quaranteamed</a></li>
                                <li><a href="https://devpost.com/software/safespeed" target="_blank">SafeSpeed</a></li>
                                <li><a href="https://devpost.com/software/supplyrowdy" target="_blank">COVID 4seen</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-primary tracks">
            <div class="col-primary-inner-container">
                <div class="texture-7op">
                    <div class="primary-item tracks">
                        <div class="inner-container show">
                            <div class="arrows">
                                <img src="../../assets/images/arrows_right.svg" />
                            </div>
                            <div class="item">
                                <div class="tracks-spacing">&nbsp;</div>
                            </div>
                            <div class="item">
                                <h1>
                                    <div class="cyan-background">Best</div>
                                </h1>
                            </div>
                            <div class="item">
                                <div class="tracks-spacing">&nbsp;</div>
                            </div>
                            <div class="item">
                                <h1>
                                    <div class="magenta-background">Retro</div>
                                </h1>
                            </div>
                            <div class="item">
                                <div class="tracks-spacing">&nbsp;</div>
                            </div>
                            <div class="item">
                                <h1>
                                    <div class="cyan-background">Hack</div>
                                </h1>
                            </div>
                        </div>
                        <div class="show-background" style="display: none;">
                            <p>This challenge is for projects with a retro flavor! Whether it be a 'retro' style video game, using a 'retro' programming language, or some other 'retro' factor, we can’t wait to see what you make!</p>
                            <h2>Prizes</h2>
                            <ul>
                                <li>Mechanical Keyboard + Divoom Ditoo plus</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-primary-inner-container">
                <div class="texture-7op">
                    <div class="primary-item tracks">
                        <div class="inner-container show">
                            <div class="arrows">
                                <img src="../../assets/images/arrows_right.svg" />
                            </div>
                            <div class="item">
                                <div class="tracks-spacing">&nbsp;</div>
                            </div>
                            <div class="item">
                                <h1>
                                    <div class="cyan-background">Best</div>
                                </h1>
                            </div>
                            <div class="item">
                                <div class="tracks-spacing">&nbsp;</div>
                            </div>
                            <div class="item">
                                <h1>
                                    <div class="magenta-background">Cyber</div>
                                </h1>
                            </div>
                            <div class="item">
                                <div class="tracks-spacing">&nbsp;</div>
                            </div>
                            <div class="item">
                                <h1>
                                    <div class="cyan-background">security</div>
                                </h1>
                            </div>
                            <div class="item">
                                <h1>
                                    <div class="magenta-background">Track</div>
                                </h1>
                            </div>
                        </div>
                        <div class="show-background" style="display: none;">
                            <p>For our hackers who create projects that mainly focus on the topics of cyber security!</p>
                            <h2>Prizes</h2>
                            <ul>
                                <li>Tabletop arcade machine + Hackthebox gift card</li>
                            </ul>
                            <h2>Example Projects from 2020</h2>
                            <ul>
                                <li><a href="https://devpost.com/software/chacha20_kernel_module" target="_blank">chacha20_kernel_module</a></li>
                                <li><a href="https://devpost.com/software/rowdyhacksproject" target="_blank">fullXtest</a></li>
                                <li><a href="https://devpost.com/software/website-for-online-trolls-detector-using-deep-learning" target="_blank">Website for Online Trolls Detector Using Deep Learning</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-primary tracks">
            <div class="col-primary-inner-container">
                <div class="texture-7op">
                    <div class="primary-item tracks">
                        <div class="inner-container show">
                            <div class="arrows">
                                <img src="../../assets/images/arrows_right.svg" />
                            </div>
                            <div class="item">
                                <div class="tracks-spacing">&nbsp;</div>
                            </div>
                            <div class="item">
                                <h1>
                                    <div class="magenta-background">Google</div>
                                </h1>
                            </div>
                            <div class="item">
                                <div class="tracks-spacing">&nbsp;</div>
                            </div>
                            <div class="item">
                                <h1>
                                    <div class="cyan-background">Cloud</div>
                                </h1>
                            </div>
                        </div>
                        <div class="show-background" style="display: none;">
                            <p>Build your hackathon project with a suite of secure storage, powerful compute, and integrated data analytics products provided by Google Cloud. See full list of products here: g.co/cloud. Each winning team member located in
                                the US will receive a Google Cloud Swag Bag complete with a beanie, pillow, journal, socks and lanyards. International winners will receive a Google branded Parkland backpack.</p>
                            <h2>Prizes</h2>
                            <ul>
                                <li>1st place: Google Cloud Swag Bag or Backpack</li>
                            </ul>
                            <h2>Resources</h2>
                            <ul>
                                <li><a href="https://hackp.ac/gcp" target="_blank">Google Cloud For Students</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-primary-inner-container">
                <div class="texture-7op">
                    <div class="primary-item tracks">
                        <div class="inner-container show">
                            <div class="arrows">
                                <img src="../../assets/images/arrows_right.svg" />
                            </div>
                            <div class="item">
                                <div class="tracks-spacing">&nbsp;</div>
                            </div>
                            <div class="item">
                                <h1>
                                    <div class="magenta-background">Domain</div>
                                </h1>
                            </div>
                            <div class="item">
                                <div class="tracks-spacing">&nbsp;</div>
                            </div>
                            <div class="item">
                                <h1>
                                    <div class="cyan-background">Name</div>
                                </h1>
                            </div>
                        </div>
                        <div class="show-background" style="display: none;">
                            <p>Register a .tech, .space, or .online domain name using Domain.com during the weekend. Each team may submit one entry per person on the team. Each winning team member will receive a PowerSquare Qi Wireless hone Charger & Domain.com
                                Backpack.
                            </p>
                            <h2>Prizes</h2>
                            <ul>
                                <li>1st place: PowerSquare Qi Wireless Phone Charger</li>
                            </ul>
                            <h2>Resources</h2>
                            <ul>
                                <li><a href="https://hackp.ac/domain" target="_blank">Domain.com/MLH</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-primary tracks">
            <div class="col-primary-inner-container">
                <div class="texture-7op">
                    <div class="primary-item tracks">
                        <div class="inner-container show">
                            <div class="arrows">
                                <img src="../../assets/images/arrows_right.svg" />
                            </div>
                            <div class="item">
                                <div class="tracks-spacing">&nbsp;</div>
                            </div>
                            <div class="item">
                                <h1>
                                    <div class="magenta-background">Deso</div>
                                </h1>
                            </div>
                        </div>
                        <div class="show-background" style="display: none;">
                            <p>DeSo is the official Web3 sponsor of the MLH Hackathon League and the first Layer 1 blockchain custom-built for decentralized social media applications. While a blockchain like Avalanche costs $0.50+ to store just a 200-character
                                post, the DeSo blockchain is built with custom indexing and storage optimizations which make it 10,000X cheaper to store social content on-chain! In order to qualify for the contest, you must launch an app that writes to
                                the DeSo blockchain and implements DeSo identity. While social media apps are a great fit for DeSo, you can also build financial apps, marketplaces, and more on the DeSo blockchain. For inspiration on project ideas, you
                                can check out some of the existing 200+ apps already live on DeSo at Bithunt.com as well as our DeSo APIs. The Best Use of DeSo gets $100 worth of $DESO coin & an exclusive DeSo branded tumbler</p>
                            <h2>Prizes</h2>
                            <ul>
                                <li>1st place: $100 worth of $DESO coin & an exclusive DeSo branded tumbler</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-primary-inner-container">
                <div class="texture-7op">
                    <div class="primary-item tracks">
                        <div class="inner-container show">
                            <div class="arrows">
                                <img src="../../assets/images/arrows_right.svg" />
                            </div>
                            <div class="item">
                                <div class="tracks-spacing">&nbsp;</div>
                            </div>
                            <div class="item">
                                <h1>
                                    <div class="magenta-background">Twilio</div>
                                </h1>
                            </div>
                        </div>
                        <div class="show-background" style="display: none;">
                            <p>Twilio allows you to incorporate mobile messaging, phone calls and a ton of other awesome communication features right into your hackathon project using a web service API. Are you building an e-commerce website and want to
                                send text notifications or email confirmations once an order is completed? Or maybe you'd like to verify users based on their mobile numbers? Twilio makes all this possible and more. Build a hack that simplifies your life
                                using any Twilio API for a chance to win some awesome prizes! Get started with $50 in free credit!
                            </p>
                            <h2>Prizes</h2>
                            <ul>
                                <li>1st place: Twilio Swag Box & GameGo Console</li>
                            </ul>
                            <h2>Resources</h2>
                            <ul>
                                <li><a href="https://www.twilio.com/try-twilio?promo=mlh-twilio" target="_blank">Twilio</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-primary tracks">
            <div class="col-primary-inner-container">
                <div class="texture-7op">
                    <div class="primary-item tracks">
                        <div class="inner-container show">
                            <div class="arrows">
                                <img src="../../assets/images/arrows_right.svg" />
                            </div>
                            <div class="item">
                                <div class="tracks-spacing">&nbsp;</div>
                            </div>
                            <div class="item">
                                <h1>
                                    <div class="cyan-background">Most</div>
                                </h1>
                            </div>
                            <div class="item">
                                <div class="tracks-spacing">&nbsp;</div>
                            </div>
                            <div class="item">
                                <h1>
                                    <div class="magenta-background">Active</div>
                                </h1>
                            </div>
                            <div class="item">
                                <div class="tracks-spacing">&nbsp;</div>
                            </div>
                            <div class="item">
                                <h1>
                                    <div class="cyan-background">Guild</div>
                                </h1>
                            </div>
                        </div>
                        <div class="show-background" style="display: none;">
                            <p>This year we are continuing guilds! You can earn tickets for your guild during the event by participating in various ways. Find out more here. The guild with the most tickets wins!</p>
                            <h2>Prizes</h2>
                            <ul>
                                <li>Mystery Prize for each guild member</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>