<div class="header">
    <div class="half-cyan-block">&nbsp;</div>
    <div class="half-magenta-block">&nbsp;</div>
    <div class="main-container">
      <div class="inner-container">
        <div class="item">
          <h1>
            <div class="cyan-background">Follow</div>
          </h1>
        </div>
        <div class="item">
          <div class="spacing">&nbsp;</div>
        </div>
        <div class="item">
          <h1>
            <div class="magenta-background">Us!</div>
          </h1>
        </div>
      </div>
      <div class="inner-container">
        <div class="item">
          <h1>
            <div class="yellow-background">Coming</div>
          </h1>
        </div>
        <div class="item">
          <div class="spacing">&nbsp;</div>
        </div>
        <div class="item">
          <h1>
            <div class="yellow-background">Soon</div>
          </h1>
        </div>
      </div>
    </div>
    <div class="half-cyan-block">&nbsp;</div>
    <div class="half-magenta-block">&nbsp;</div>
</div>
<div class="yellow-block">&nbsp;</div>
<div class="body">
  <div class="body-inner-container">
    <div class="body-item">
      <p>‘Come join us mar 26-27...’ blurb (Approx 50-100 words)</p>
    </div>
    <div class="magenta-block">&nbsp;</div>
  </div>
</div>