<div class="header">
    <div class="half-cyan-block">&nbsp;</div>
    <div class="half-magenta-block">&nbsp;</div>
    <div class="main-container">
      <div class="inner-container">
        <div class="item">
          <h1>
            <div class="cyan-background">Hacker</div>
          </h1>
        </div>
        <div class="item">
          <div class="spacing">&nbsp;</div>
        </div>
        <div class="item">
            <h1>
              <div class="magenta-background">Survival</div>
            </h1>
          </div>
          <div class="item">
            <div class="spacing">&nbsp;</div>
          </div>
        <div class="item">
          <h1>
            <div class="cyan-background">Guide</div>
          </h1>
        </div>
      </div>
      <div class="inner-container">
        <div class="item">
          <h1><div class="yellow-background">Coming Soon</div></h1>
        </div>
      </div>
    </div>
    <div class="half-cyan-block">&nbsp;</div>
    <div class="half-magenta-block">&nbsp;</div>
  </div>
  <div class="yellow-block">&nbsp;</div>
  <div class="body">
    <div class="body-inner-container">
      <div class="body-item">
        <p>‘About’ the hsg blurb (50-100 words)</p>
      </div>
      <div class="magenta-block">&nbsp;</div>
    </div>
  </div>


<!-- <div class="container">
    <div class="item">
        <h1>Hacker Survival Guide</h1>
        <p>‘About’ the hsg blurb (50-100 words)</p>
        <form
            action="https://acmutsa.org">
            <input type="submit" value="Click Here!" />
        </form>
    </div>
</div> -->