<div class="layoutadj">
  <div class="yellow-block">&nbsp;</div>
  <div class="header">
    <div class="half-cyan-block">&nbsp;</div>
    <div class="half-magenta-block">&nbsp;</div>
    <div class="texture-5op">
      <div class="main-container">
        <div class="inner-container">
          <div class="item">
            <h1>
              <div class="cyan-background">Rowdy</div>
            </h1>
          </div>
          <div class="item">
            <div class="spacing">&nbsp;</div>
          </div>
          <div class="item">
            <h1>
              <div class="magenta-background">Hacks</div>
            </h1>
          </div>
        </div>
        <div class="inner-container">
          <div class="item">
            <h1>
              <div class="yellow-background">Location</div>
            </h1>
          </div>
        </div>
      </div>
    </div>
    <div class="half-cyan-block">&nbsp;</div>
    <div class="half-magenta-block">&nbsp;</div>
  </div>
  <div class="yellow-block">&nbsp;</div>
  <div class="primary end primary-adj location">
    <div class="col-primary">
      <div class="col-primary-inner-container">
        <div class="texture-7op">
          <div class="primary-item location">
            <div class="inner-container">
              <div class="item">
                <h1>
                  <div class="cyan-background">UTSA</div>
                </h1>
              </div>
              <div class="item">
                <div class="spacing">&nbsp;</div>
              </div>
              <div class="item">
                <h1>
                  <div class="magenta-background">Location</div>
                </h1>
              </div>
            </div>
            <div id="map" class="frame"></div>
          </div>
        </div>
      </div>
      <div class="col-primary-inner-container">
        <div class="texture-7op">
          <div class="primary-item location">
            <div class="inner-container">
              <div class="item">
                <h1>
                  <div class="cyan-background">UTSA</div>
                </h1>
              </div>
              <div class="item">
                <div class="spacing">&nbsp;</div>
              </div>
              <div class="item">
                <h1>
                  <div class="magenta-background">Parking</div>
                </h1>
              </div>
              <div class="item">
                <h1>
                  <div class="cyan-background">Map</div>
                </h1>
              </div>
              <a href="../../assets/images/parking-map.pdf" target="_blank" class="partner-links frame">
                <img src="../../assets/images/parking-map.png" alt="UTSA Parking Map" width="100%"/>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-primary">
      <div class="col-primary-inner-container">
        <div class="texture-7op">
          <div class="primary-item location">
            <div class="inner-container">
              <div class="item">
                <h1>
                  <div class="cyan-background">UTSA</div>
                </h1>
              </div>
              <div class="item">
                <div class="spacing">&nbsp;</div>
              </div>
              <div class="item">
                <h1>
                  <div class="magenta-background">Campus</div>
                </h1>
              </div>
              <div class="item">
                <h1>
                  <div class="cyan-background">Map</div>
                </h1>
              </div>
              <a href="../../assets/images/maincampusmaps.png" target="_blank" class="partner-links frame">
                <img src="../../assets/images/maincampusmaps.png" alt="UTSA Campus Map" width="100%"/>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>