<div class="layoutadj">
  <div class="yellow-block">&nbsp;</div>
  <div class="header">
      <div class="half-cyan-block">&nbsp;</div>
      <div class="half-magenta-block">&nbsp;</div>
      <div class="texture-5op">
          <div class="main-container">
              <div class="inner-container">
                  <div class="item">
                      <h1>
                          <div class="cyan-background">Our</div>
                      </h1>
                  </div>
                  <div class="item">
                      <div class="spacing">&nbsp;</div>
                  </div>
                  <div class="item">
                      <h1>
                      <div class="magenta-background">Partners!</div>
                      </h1>
                  </div>
              </div>
          </div>
          <div class="half-cyan-block">&nbsp;</div>
          <div class="half-magenta-block">&nbsp;</div>
      </div>
  </div>
  <div class="yellow-block">&nbsp;</div>
  <div class="primary end primary-adj">
    <div class="primary-inner-container">
      <div class="texture-7op">
        <div class="primary-item">
          <div class="inner-container">
            <p>Thanks to all of the companies and organizations that made 
              RowdyHacks possible!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-primary">
      <div class="col-primary-inner-container sponsors-background">
        <div class="texture-3op">
          <div class="primary-item">
            <a href="#" target="_blank" class="sponsor-links">
              <img src="./assets/images/sponsors/google-logo.svg" alt="google" />
            </a>
          </div>
        </div>
      </div>
      <div class="col-primary-inner-container sponsors-background">
        <div class="texture-3op">
          <div class="primary-item">
            <a href="#" target="_blank" class="sponsor-links">
              <img src="./assets/images/sponsors/mitre-logo.svg" alt="mitre" />
            </a>
          </div>
        </div>
      </div>
      <div class="col-primary-inner-container sponsors-background">
        <div class="texture-3op">
          <div class="primary-item">
            <a href="https://www.paycom.com/" target="_blank" class="sponsor-links">
              <img src="./assets/images/sponsors/paycom-logo.svg" alt="paycom" />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-primary">
      <div class="col-primary-inner-container sponsors-background">
        <div class="texture-3op">
          <div class="primary-item">
            <a href="https://www.heb.com/static-page/Community-Involvement" target="_blank" class="sponsor-links">
              <img src="./assets/images/sponsors/heb-logo.svg" alt="heb" />
            </a>
          </div>
        </div>
      </div>
      <div class="col-primary-inner-container sponsors-background">
        <div class="texture-3op">
          <div class="primary-item">
            <a href="https://www.valero.com/" target="_blank" class="sponsor-links">
              <img src="./assets/images/sponsors/valero-logo.svg" alt="valero" />
            </a>
          </div>
        </div>
      </div>
      <div class="col-primary-inner-container sponsors-background">
        <div class="texture-3op">
          <div class="primary-item">
            <a href="https://acmutsa.org/" target="_blank" class="sponsor-links">
              <img src="./assets/images/sponsors/acm-logo.svg" alt="acm" />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-primary">
      <div class="col-primary-inner-container sponsors-background">
        <div class="texture-3op">
          <div class="primary-item">
            <a href="https://mlh.io/" target="_blank" class="sponsor-links">
              <img src="./assets/images/sponsors/mlh-logo.svg" alt="mlh" />
            </a>
          </div>
        </div>
      </div>
      <div class="col-primary-inner-container sponsors-background">
        <div class="texture-3op">
          <div class="primary-item">
            <a href="https://www.stickermule.com/" target="_blank" class="sponsor-links">
              <img src="./assets/images/sponsors/sticker-mule-logo.svg" alt="sticker-mule" />
            </a>
          </div>
        </div>
      </div>
      <div class="col-primary-inner-container sponsors-background">
        <div class="texture-3op">
          <div class="primary-item">
            <a href="https://cs.utsa.edu/" target="_blank" class="sponsor-links">
              <img src="./assets/images/sponsors/utsa-cs-logo.svg" alt="utsa-cs" />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="primary-inner-container">
      <div class="texture-7op">
        <div class="primary-item">
          <div class="inner-container">
            <p>Interested in becoming a partner?</p>
            <a href="https://drive.google.com/file/d/1g_zr281SXrYuUpbVY56UUNRPjkJ-jkuE/view" target="_blank" class="btn btn-magenta">Partner With Us</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
