<div class="layoutadj end">
  <div class="yellow-block">&nbsp;</div>
  <div class="header">
      <div class="half-cyan-block">&nbsp;</div>
      <div class="half-magenta-block">&nbsp;</div>
      <div class="texture-5op">
          <div class="main-container">
              <div class="inner-container">
                  <div class="item">
                      <h1>
                          <div class="cyan-background">Our</div>
                      </h1>
                  </div>
                  <div class="item">
                      <div class="spacing">&nbsp;</div>
                  </div>
                  <div class="item">
                      <h1>
                      <div class="magenta-background">Partners!</div>
                      </h1>
                  </div>
              </div>
          </div>
          <div class="half-cyan-block">&nbsp;</div>
          <div class="half-magenta-block">&nbsp;</div>
      </div>
  </div>
  <div class="yellow-block">&nbsp;</div>
  <div class="primary end primary-adj">
    <div class="primary-inner-container">
      <div class="texture-7op">
        <div class="primary-item">
          <div class="inner-container">
            <p>Thanks to all of the companies and organizations that made 
              RowdyHacks possible!</p>
          </div>
        </div>
      </div>
    </div>
    <div id="partners" class="col-primary"></div>
    <div class="primary-inner-container">
      <div class="texture-7op">
        <div class="primary-item">
          <div class="inner-container">
            <p>Interested in becoming a partner?</p>
            <a href="https://drive.google.com/file/d/1g_zr281SXrYuUpbVY56UUNRPjkJ-jkuE/view" target="_blank" class="btn btn-magenta">Partner With Us</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
