@import './src/components/variables.sass'

// setting container to center of page for all view modes
.magenta-block

.spacing
  float: left

.magenta-block
  height: 5px
  background: #fa448c

.half-cyan-block
  display: inline-block
  width: 50%
  height: 10px
  background: #71e8d2

.half-magenta-block
  display: inline-block
  width: 50%
  height: 10px
  background: #fa448c

.yellow-block
  height: 10px
  background: #fec859

.purple-block
  height: 25px
  background: #280959

.cyan-background
  float: left
  background: #71e8d2

.magenta-background
  float: left
  background: #fa448c

.yellow-background
  background: #fec859

.header
  background-color: #ffe4ac
  border-top: solid 25px #280959
  border-bottom: solid 25px #280959

.main-container
  display: grid
  grid-gap: 20px
  align-content: center
  justify-content: center
  align-items: center
  min-height: 30vh
  padding: 5% 0

.inner-container
  display: inline-flex
  align-content: center
  justify-content: center
  align-items: center
  margin: auto
  flex-wrap: wrap
  flex-direction: row

// aligning text and giving font attributes
.item
  display: inline-block
  font-weight: normal
  font-size: 42px
  text-align: center
  color: #280959
  letter-spacing: 0.5rem
  line-height: 5rem

.item h3
  font-family: $font-secondary
  font-weight: bold
  font-size: 60px
  letter-spacing: 0.25rem

.body
  max-width: 80%
  margin: auto

.body-inner-container
  background-color: #481e8a
  border: solid 2px #280959
  margin: 80px auto 0 auto

.body-item
  padding: 4%

.body-item p
  font-size: 55px
  line-height: 4rem
  text-align: center
  color: #fec859

@media screen and (max-width: 1255px)
  .item
    font-size: 40px
  .item h3
    font-size: 45px
  .body-item p
    font-size: 50px
    line-height: 3.5rem

@media screen and (max-width: 1120px)
  .item
    font-size:35px
    line-height: 4rem

@media screen and (max-width: 1000px)
  .item
    font-size:30px
    line-height: 3rem
  .body-inner-container
    margin-top:80px

@media screen and (max-width: 880px)
  .item
    font-size:30px
    line-height: 3.5rem
  .body-item p
    font-size: 40px
    line-height: 3rem

@media screen and (max-width: 730px)
  .spacing
    display: none

@media screen and (max-width: 600px)
  .inner-container
    display: inline-grid
    align-content: center
    justify-content: center
    align-items: center
    justify-items: center
  .magenta-background
    float: none
  .cyan-background
    float: none
  .item
    font-size: 26px
  .body-item p
    font-size: 35px
    line-height: 2.5rem

@media screen and (max-width: 530px)
  .yellow-background
    width: 80%
    margin: auto
  .item h3
    font-size: 35px
  .body-inner-container
    margin:35px auto 50px auto
  .body-item p
    font-size: 35px
    line-height: 2.5rem

@media screen and (max-width: 374px)
  .item
    font-size: 22px
    line-height: 2.75rem

/*********************************************
  Navigation bar pulled from
  https://www.w3schools.com/css/css_navbar_horizontal.asp

ul
  &.nav
    &-top
      list-style-type: none
      margin: 0
      padding: 10px
      overflow: hidden
      background-color: $cadet-blue
      & li
        float: left
        &:first-child a
          padding: 0
        & a
          display: block
          color: $white
          text-align: center
          padding: 20px 22px
          text-decoration: none
          font-size: 16px
        & a:hover:not(.active)
          color: $deep-dark-purple
        &.right
          float: right
.nav-logo
  width: 52px
  height: 52px
  background: url('../assets/images/logos/rh_city_logo_white.png') no-repeat
  background-size: contain
  &:hover
    background: url('../assets/images/logos/RowdyHacks_City_Logo.png') no-repeat
    background-size: contain
