<div class="layoutadj end">
  <div class="yellow-block">&nbsp;</div>
  <div class="header">
      <div class="half-cyan-block">&nbsp;</div>
      <div class="half-magenta-block">&nbsp;</div>
      <div class="texture-5op">
          <div class="main-container">
              <div class="inner-container">
                  <div class="item">
                      <h1>
                          <div class="cyan-background">The</div>
                      </h1>
                  </div>
                  <div class="item">
                      <div class="spacing">&nbsp;</div>
                  </div>
                  <div class="item">
                      <h1>
                      <div class="magenta-background">Schedule!</div>
                      </h1>
                  </div>
              </div>
          </div>
          <div class="half-cyan-block">&nbsp;</div>
          <div class="half-magenta-block">&nbsp;</div>
      </div>
  </div>
  <div class="yellow-block">&nbsp;</div>
  <div class="primary end primary-adj">
    <div class="primary-inner-container">
      <div class="texture-7op">
        <div class="primary-item">
          <div class="inner-container">
            <p>Day of Schedule</p>
          </div>
        </div>
        <div class="primary-item">
          <div class="inner-container">
            <div id="schedule">
              <table>
                <thead><tr class="partner-background texture-3op"><th colspan="2"><p>March 26th</p></th><th><p>Saturday</p></th></tr></thead>
                <tr class="partner-background texture-3op"><td class="schedule-time">9:00 AM</td><td class="schedule-event">Hacker Checkin</td><td class="schedule-location">Galleria</td></tr>
                <tr class="partner-background texture-3op"><td class="schedule-time">9:00 AM</td><td class="schedule-event">Partner Fair</td><td class="schedule-location">Galleria</td></tr>
                <tr class="partner-background texture-3op"><td class="schedule-time">11:00 AM</td><td class="schedule-event">Opening Ceremony</td><td class="schedule-location">Ballroom</td></tr>
                <tr class="partner-background texture-3op"><td class="schedule-time">12:00 PM</td><td class="schedule-event">Hacking Starts!</td><td class="schedule-location"></td></tr>
                <tr class="partner-background texture-3op"><td class="schedule-time">12:00 PM</td><td class="schedule-event">Team-Building: Half Baked</td><td class="schedule-location">Bexar</td></tr>
                <tr class="partner-background texture-3op"><td class="schedule-time">1:00 PM</td><td class="schedule-event">Lunch</td><td class="schedule-location">Galeria</td></tr>
                <tr class="partner-background texture-3op"><td class="schedule-time">3:00 PM</td><td class="schedule-event">Intro to Python</td><td class="schedule-location">Harris</td></tr>
                <tr class="partner-background texture-3op"><td class="schedule-time">3:00 PM</td><td class="schedule-event">3D Printing Design</td><td class="schedule-location">Travis</td></tr>
                <tr class="partner-background texture-3op"><td class="schedule-time">4:00 PM</td><td class="schedule-event">Bob Ross MS Paint</td><td class="schedule-location">Bexar</td></tr>
                <tr class="partner-background texture-3op"><td class="schedule-time">5:00 PM</td><td class="schedule-event">R with Dr. Troia</td><td class="schedule-location">Harris</td></tr>
                <tr class="partner-background texture-3op"><td class="schedule-time">5:00 PM</td><td class="schedule-event">MITRE ATT&CK Framework</td><td class="schedule-location">Travis</td></tr>
                <tr class="partner-background texture-3op"><td class="schedule-time">7:00 PM</td><td class="schedule-event">Dinner</td><td class="schedule-location">Galleria</td></tr>
                <tr class="partner-background texture-3op"><td class="schedule-time">9:00 PM</td><td class="schedule-event">GameDev with Unity</td><td class="schedule-location">Harris</td></tr>
                <tr class="partner-background texture-3op"><td class="schedule-time">9:00 PM</td><td class="schedule-event">Docker: Zero to Hero</td><td class="schedule-location">Travis</td></tr>
                <tr class="partner-background texture-3op"><td class="schedule-time">10:00 PM</td><td class="schedule-event">Trivia</td><td class="schedule-location">Bexar</td></tr>
                <tr class="partner-background texture-3op"><td class="schedule-time">10:00 PM</td><td class="schedule-event">Late Night Snack</td><td class="schedule-location">Galleria</td></tr>
                <tr class="partner-background texture-3op"><td class="schedule-time">11:00 PM</td><td class="schedule-event">Organizer Meet-n-Greet</td><td class="schedule-location">Bexar</td></tr>
                <thead><tr><th colspan="2">March 27th</th><th>Sunday</th></tr></thead>
                <tr><td>TIME OF EVENT</td><td>EVENT ONE</td><td>ROOM</td></tr>
                <tr><td>TIME OF EVENT</td><td>EVENT ONE</td><td>ROOM</td></tr>
                <tr><td>TIME OF EVENT</td><td>EVENT ONE</td><td>ROOM</td></tr>
                <tr><td>TIME OF EVENT</td><td>EVENT ONE</td><td>ROOM</td></tr>
                <tr><td>TIME OF EVENT</td><td>EVENT ONE</td><td>ROOM</td></tr>
                <tr><td>TIME OF EVENT</td><td>EVENT ONE</td><td>ROOM</td></tr>
                <tr><td>TIME OF EVENT</td><td>EVENT ONE</td><td>ROOM</td></tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="primary-inner-container">
      <div class="texture-7op">
        <div class="primary-item">
          <div class="inner-container">
            <p>Schedule is subject to change so keep an eye on Discord announcements!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
