<div class="layoutadj end">
  <div class="yellow-block">&nbsp;</div>
  <div class="header">
      <div class="half-cyan-block">&nbsp;</div>
      <div class="half-magenta-block">&nbsp;</div>
      <div class="texture-5op">
          <div class="main-container">
              <div class="inner-container">
                  <div class="item">
                      <h1>
                          <div class="cyan-background">The</div>
                      </h1>
                  </div>
                  <div class="item">
                      <div class="spacing">&nbsp;</div>
                  </div>
                  <div class="item">
                      <h1>
                      <div class="magenta-background">Schedule!</div>
                      </h1>
                  </div>
              </div>
          </div>
          <div class="half-cyan-block">&nbsp;</div>
          <div class="half-magenta-block">&nbsp;</div>
      </div>
  </div>
  <div class="yellow-block">&nbsp;</div>
  <div class="primary end primary-adj">
    <div class="primary-inner-container">
      <div class="texture-7op">
        <div class="primary-item">
          <div class="inner-container">
            <p>Day of Schedule</p>
          </div>
        </div>
        <div class="primary-item">
          <div class="inner-container">
            <div class="grid-container">
              <div class="grid-title grid-title-date partner-background texture-3op">Saturday, March 26th</div>
              <div class="grid-item grid-item-time texture-3op">9:00 AM</div>
              <div class="grid-item grid-item-event texture-3op">Hacker Check-in</div>
              <div class="grid-item grid-item-location texture-3op">Galleria</div>
              <div class="grid-item grid-item-time texture-3op">9:00 AM</div>
              <div class="grid-item grid-item-event texture-3op">Partner Tabling</div>
              <div class="grid-item grid-item-location texture-3op">Galleria</div>
              <div class="grid-item grid-item-time texture-3op">11:00 AM</div>
              <div class="grid-item grid-item-event texture-3op">Opening Ceremonies</div>
              <div class="grid-item grid-item-location texture-3op">Ballroom</div>
              <div class="grid-item grid-item-time texture-3op">12:00 PM</div>
              <div class="grid-item grid-item-event texture-3op">Hacking Begins</div>
              <div class="grid-item grid-item-location texture-3op"></div>
              <div class="grid-item grid-item-time texture-3op">12:00 PM</div>
              <div class="grid-item grid-item-event texture-3op">FIVE</div>
              <div class="grid-item grid-item-location texture-3op">SIX</div>
              <div class="grid-item grid-item-time texture-3op">ONE</div>
              <div class="grid-item grid-item-event texture-3op">TWO</div>
              <div class="grid-item grid-item-location texture-3op">THREE</div>
              <div class="grid-item grid-item-time texture-3op">FOUR</div>
              <div class="grid-item grid-item-event texture-3op">FIVE</div>
              <div class="grid-item grid-item-location texture-3op">SIX</div>
              <div class="grid-item grid-item-time texture-3op">ONE</div>
              <div class="grid-item grid-item-event texture-3op">TWO</div>
              <div class="grid-item grid-item-location texture-3op">THREE</div>
              <div class="grid-item grid-item-time texture-3op">FOUR</div>
              <div class="grid-item grid-item-event texture-3op">FIVE</div>
              <div class="grid-item grid-item-location texture-3op">SIX</div>
              <div class="grid-title grid-title-date partner-background texture-3op">Sunday, March 27th</div>            
              <div class="grid-item grid-item-time texture-3op">ONE</div>
              <div class="grid-item grid-item-event texture-3op">TWO</div>
              <div class="grid-item grid-item-location texture-3op">THREE</div>
              <div class="grid-item grid-item-time texture-3op">FOUR</div>
              <div class="grid-item grid-item-event texture-3op">FIVE</div>
              <div class="grid-item grid-item-location texture-3op">SIX</div>
              <div class="grid-item grid-item-time texture-3op">ONE</div>
              <div class="grid-item grid-item-event texture-3op">TWO</div>
              <div class="grid-item grid-item-location texture-3op">THREE</div>
              <div class="grid-item grid-item-time texture-3op">FOUR</div>
              <div class="grid-item grid-item-event texture-3op">FIVE</div>
              <div class="grid-item grid-item-location texture-3op">SIX</div>
              <div class="grid-item grid-item-time texture-3op">ONE</div>
              <div class="grid-item grid-item-event texture-3op">TWO</div>
              <div class="grid-item grid-item-location texture-3op">THREE</div>
              <div class="grid-item grid-item-time texture-3op">FOUR</div>
              <div class="grid-item grid-item-event texture-3op">FIVE</div>
              <div class="grid-item grid-item-location texture-3op">SIX</div>
              <div class="grid-item grid-item-time texture-3op">ONE</div>
              <div class="grid-item grid-item-event texture-3op">TWO</div>
              <div class="grid-item grid-item-location texture-3op">THREE</div>
              <div class="grid-item grid-item-time texture-3op">FOUR</div>
              <div class="grid-item grid-item-event texture-3op">FIVE</div>
              <div class="grid-item grid-item-location texture-3op">SIX</div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="primary-inner-container">
      <div class="texture-7op">
        <div class="primary-item">
          <div class="inner-container">
            <p>Schedule is subject to change so keep an eye on Discord announcements!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
