<div class="layoutadj">
  <div class="yellow-block">&nbsp;</div>
  <div class="header">
    <div class="half-cyan-block">&nbsp;</div>
    <div class="half-magenta-block">&nbsp;</div>
    <div class="texture-5op">
      <div class="main-container">
        <div class="inner-container">
          <div class="item">
            <h1>
              <div class="cyan-background">The</div>
            </h1>
          </div>
          <div class="item">
            <div class="spacing">&nbsp;</div>
          </div>
          <div class="item">
            <h1>
              <div class="magenta-background">Schedule</div>
            </h1>
          </div>
        </div>
        <div class="inner-container">
          <div class="item">
            <h1>
              <div class="yellow-background">Cooming</div>
            </h1>
          </div>
          <div class="item">
            <div class="spacing">&nbsp;</div>
          </div>
          <div class="item">
            <h1>
              <div class="yellow-background">Soon</div>
            </h1>
          </div>
        </div>
      </div>
    </div>
    <div class="half-cyan-block">&nbsp;</div>
    <div class="half-magenta-block">&nbsp;</div>
  </div>
  <div class="primary end primary-adj">
    <!-- <div class="primary-inner-container">
      <div class="texture-7op">
        <div class="primary-item">
          <div class="inner-container">
            <div class="item">
              <h1>
                <div class="magenta-background">Friday</div>
              </h1>
            </div>
            <div class="item">
              <div class="spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="cyan-background">March</div>
              </h1>
            </div>
            <div class="item">
              <div class="spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="magenta-background">25th</div>
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-primary callouts">
      <div class="col-primary-inner-container callouts">
        <div class="texture-7op">
          <div class="primary-item">
            <h1>
              <div class="cyan-background">Start - 5pm</div>
            </h1>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="primary-inner-container">
      <div class="texture-7op">
        <div class="primary-item">
          <div class="inner-container">
            <div class="item">
              <h1>
                <div class="magenta-background">Saturday</div>
              </h1>
            </div>
            <div class="item">
              <div class="spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="cyan-background">March</div>
              </h1>
            </div>
            <div class="item">
              <div class="spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="magenta-background">26th</div>
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-primary callouts">
      <div class="col-primary-inner-container callouts">
        <div class="texture-7op">
          <div class="primary-item">
            <h1>
              <div class="cyan-background">Start - 5pm</div>
            </h1>
            <p>Duis cillum dolore eu fugiat nulla pariatur.</p>
          </div>
        </div>
      </div>
      <div class="col-primary-inner-container callouts">
        <div class="texture-7op">
          <div class="primary-item">
            <h1>
              <div class="cyan-background">Middle - 10pm</div>
            </h1>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
          </div>
        </div>
      </div>
      <div class="col-primary-inner-container callouts">
        <div class="texture-7op">
          <div class="primary-item">
            <h1>
              <div class="cyan-background">Sleep - 3am</div>
            </h1>
            <p>Duis cillum dolore eu fugiat nulla pariatur.</p>
          </div>
        </div>
      </div>
      <div class="col-primary-inner-container callouts">
        <div class="texture-7op">
          <div class="primary-item">
            <h1>
              <div class="cyan-background">Start - 5pm</div>
            </h1>
            <p>Duis aute irure dolore eu fugiat nulla pariatur.</p>
          </div>
        </div>
      </div>
      <div class="col-primary-inner-container callouts">
        <div class="texture-7op">
          <div class="primary-item">
            <h1>
              <div class="cyan-background">Middle - 10pm</div>
            </h1>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
          </div>
        </div>
      </div>
      <div class="col-primary-inner-container callouts">
        <div class="texture-7op">
          <div class="primary-item">
            <h1>
              <div class="cyan-background">Sleep - 3am</div>
            </h1>
            <p>Duis aute irure dolor in esse cillum dolore eu fugiat nulla pariatur.</p>
          </div>
        </div>
      </div>
      <div class="col-primary-inner-container callouts">
        <div class="texture-7op">
          <div class="primary-item">
            <h1>
              <div class="cyan-background">Start - 5pm</div>
            </h1>
            <p>Duis aute irure cillum dolore eu fugiat nulla pariatur.</p>
          </div>
        </div>
      </div>
      <div class="col-primary-inner-container callouts">
        <div class="texture-7op">
          <div class="primary-item">
            <h1>
              <div class="cyan-background">Middle - 10pm</div>
            </h1>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore pariatur.</p>
          </div>
        </div>
      </div>
      <div class="col-primary-inner-container callouts">
        <div class="texture-7op">
          <div class="primary-item">
            <h1>
              <div class="cyan-background">Sleep - 3am</div>
            </h1>
            <p>Duis aute irure dolore eu fugiat nulla pariatur.</p>
          </div>
        </div>
      </div>
      <div class="col-primary-inner-container callouts">
        <div class="texture-7op">
          <div class="primary-item">
            <h1>
              <div class="cyan-background">Start - 5pm</div>
            </h1>
            <p>Duis aute irure dolor in reprehenderit eu fugiat nulla pariatur.</p>
          </div>
        </div>
      </div>
      <div class="col-primary-inner-container callouts">
        <div class="texture-7op">
          <div class="primary-item">
            <h1>
              <div class="cyan-background">Middle - 10pm</div>
            </h1>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
          </div>
        </div>
      </div>
      <div class="col-primary-inner-container callouts">
        <div class="texture-7op">
          <div class="primary-item">
            <h1>
              <div class="cyan-background">Sleep - 3am</div>
            </h1>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="primary-inner-container">
      <div class="texture-7op">
        <div class="primary-item">
          <div class="inner-container">
            <div class="item">
              <h1>
                <div class="magenta-background">Sunday</div>
              </h1>
            </div>
            <div class="item">
              <div class="spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="cyan-background">March</div>
              </h1>
            </div>
            <div class="item">
              <div class="spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="magenta-background">27th</div>
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-primary callouts">
      <div class="col-primary-inner-container callouts">
        <div class="texture-7op">
          <div class="primary-item">
            <h1>
              <div class="cyan-background">Start - 5pm</div>
            </h1>
            <p>Duis aute voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          </div>
        </div>
      </div>
      <div class="col-primary-inner-container callouts">
        <div class="texture-7op">
          <div class="primary-item">
            <h1>
              <div class="cyan-background">Middle - 10pm</div>
            </h1>
            <p>Duis aute irure dolor in olore eu fugiat nulla pariatur.</p>
          </div>
        </div>
      </div>
      <div class="col-primary-inner-container callouts">
        <div class="texture-7op">
          <div class="primary-item">
            <h1>
              <div class="cyan-background">Sleep - 3am</div>
            </h1>
            <p>Duis aute irure dolore eu fugiat nulla pariatur.</p>
          </div>
        </div>
      </div>
      <div class="col-primary-inner-container callouts">
        <div class="texture-7op">
          <div class="primary-item">
            <h1>
              <div class="cyan-background">Start - 5pm</div>
            </h1>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu.</p>
          </div>
        </div>
      </div>
      <div class="col-primary-inner-container callouts">
        <div class="texture-7op">
          <div class="primary-item">
            <h1>
              <div class="cyan-background">Middle - 10pm</div>
            </h1>
            <p>Duis aute irure dolor in reprehenderit in fugiat nulla pariatur.</p>
          </div>
        </div>
      </div>
      <div class="col-primary-inner-container callouts">
        <div class="texture-7op">
          <div class="primary-item">
            <h1>
              <div class="cyan-background">Sleep - 3am</div>
            </h1>
            <p>Duis aute irure dolor in reprehenderit in voluptate nulla pariatur.</p>
          </div>
        </div>
      </div>
      <div class="col-primary-inner-container callouts">
        <div class="texture-7op">
          <div class="primary-item">
            <h1>
              <div class="cyan-background">Start - 5pm</div>
            </h1>
            <p>Duis aute irure dolor in reprehenderit cillum dolore eu fugiat nulla pariatur.</p>
          </div>
        </div>
      </div>
      <div class="col-primary-inner-container callouts">
        <div class="texture-7op">
          <div class="primary-item">
            <h1>
              <div class="cyan-background">Middle - 10pm</div>
            </h1>
            <p>Duis aute irure dolor in fugiat nulla pariatur.</p>
          </div>
        </div>
      </div>
      <div class="col-primary-inner-container callouts">
        <div class="texture-7op">
          <div class="primary-item">
            <h1>
              <div class="cyan-background">Sleep - 3am</div>
            </h1>
            <p>Duis aute irure dolor in reprehenderit in cillum dolore eu fugiat nulla pariatur.</p>
          </div>
        </div>
      </div>
      <div class="col-primary-inner-container callouts">
        <div class="texture-7op">
          <div class="primary-item">
            <h1>
              <div class="cyan-background">Start - 5pm</div>
            </h1>
            <p>Duis aute irure dolor in reprehenderit.</p>
          </div>
        </div>
      </div>
      <div class="col-primary-inner-container callouts">
        <div class="texture-7op">
          <div class="primary-item">
            <h1>
              <div class="cyan-background">Middle - 10pm</div>
            </h1>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse pariatur.</p>
          </div>
        </div>
      </div>
      <div class="col-primary-inner-container callouts">
        <div class="texture-7op">
          <div class="primary-item">
            <h1>
              <div class="cyan-background">Sleep - 3am</div>
            </h1>
            <p>Duis aute irure dolor in reprehenderit in dolore eu fugiat nulla pariatur.</p>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>