<div class="header">
    <div class="half-cyan-block">&nbsp;</div>
    <div class="half-magenta-block">&nbsp;</div>
    <div class="main-container">
      <div class="inner-container">
        <div class="item">
          <h1>
            <div class="magenta-background">Attend</div>
          </h1>
        </div>
      </div>
      <div class="inner-container">
        <div class="item">
          <h1><div class="yellow-background">Coming Soon</div></h1>
        </div>
      </div>
    </div>
    <div class="half-cyan-block">&nbsp;</div>
    <div class="half-magenta-block">&nbsp;</div>
</div>
<div class="yellow-block">&nbsp;</div>
<div class="body">
    <div class="body-inner-container">
        <div class="body-item">
            <p>‘Come join us mar 26-27...’ blurb (Approx 50-100 words)</p>
        </div>
        <div class="magenta-block">&nbsp;</div>
    </div>
</div>

<!-- <div class="container">
    <div class="item">
        <h1>Registration</h1>
        <p>‘Come join us mar 26-27...’ blurb (Approx 50-100 words)</p>
        <form action="https://discord.acmutsa.org/">
            <input type="submit" value="Discord" />
        </form>
        <h1>Location</h1>
        <p>Info blurb (approx 50-100 words)</p>
        <form action="https://www.utsa.edu/campusservices/docs/Park-Trans-Map_Main-Campus.pdf">
            <input type="submit" value="Campus and Parking Map" />
        </form>
        <form action="https://www.utsa.edu/studentunion/events/img/diagrams/StudentUnion%20III/Ballroom%202/Ballroom2-Master.pdf">
            <input type="submit" value="Venue Map" />
        </form>
        <h1>Schedule</h1>
        <p>Event Schedule</p>
    </div>
</div> -->