/* You can add global styles to this file, and also import other style files */
@import './src/components/variables.sass'

html
  background: url('../src/assets/images/background.jpg')
  background-size: cover
  overflow: hidden // removes scroll bar

body
  margin: 0

// setting font familys for all types
h1, h2, h3, h4, h5, h6
  font-family: $font-primary

p, a
  font-family: $font-secondary

::selection, ::-moz-selection
  background: $dark-bubblegum
