<div class="header">
  <div class="half-cyan-block">&nbsp;</div>
  <div class="half-magenta-block">&nbsp;</div>
  <div class="main-container">
    <div class="inner-container">
      <div class="item">
        <h1>
          <div class="cyan-background">Rowdy</div><div class="magenta-background">Hacks</div>
        </h1>
      </div>
      <div class="item">
        <div class="spacing">&nbsp;</div>
      </div>
      <div class="item">
        <h1>
          <div class="cyan-background">2022</div>
        </h1>
      </div>
    </div>
    <div class="inner-container">
      <div class="item">
        <h1><div class="yellow-background">Coming Soon</div></h1>
      </div>
    </div>
    <div class="inner-container">
      <div class="item">
        <h3>March 26th - 27th</h3>
      </div>
    </div>
  </div>
  <div class="half-cyan-block">&nbsp;</div>
  <div class="half-magenta-block">&nbsp;</div>
</div>
<div class="yellow-block">&nbsp;</div>
<div class="body">
  <div class="body-inner-container">
    <div class="body-item">
      <p>Any sufficiently advanced technology is indistinguishable from magic.</p>
      <p>-Arthur C. Clarke</p>
    </div>
    <div class="magenta-block">&nbsp;</div>
  </div>
</div>
<!-- <div class="container">
    <div class="item">
        <h1>Rowdyhacks 2022</h1>
        <h2>About</h2>
        <p>‘About’ blurb (approx 100 words)</p>
        <h2>Theme</h2>
        <p>‘Theme’ blurb (approx 100 words)</p>
        <h2>Tracks</h2>
        <h5>Learners Track</h5>
        <p>1-2 sentences</p>
        <h5>General Track</h5>
        <p>1-2 sentences</p>
        <h5>Best GameDev Hack</h5>
        <p>1-2 sentences</p>
        <h5>Best Hardware Hack</h5>
        <p>1-2 sentences</p>
        <h5>Sponsor Challenges</h5>
        <p>1-2 sentences</p>
    </div>
</div> -->