<div class="header">
  <div class="half-cyan-block">&nbsp;</div>
  <div class="half-magenta-block">&nbsp;</div>
  <div class="texture-3op">
    <div class="main-container">
      <div class="inner-container">
        <div class="item">
          <h1>
            <div class="cyan-background">Rowdy</div><div class="magenta-background">Hacks</div>
          </h1>
        </div>
        <div class="item">
          <div class="spacing">&nbsp;</div>
        </div>
        <div class="item">
          <h1>
            <div class="cyan-background">2022</div>
          </h1>
        </div>
      </div>
      <div class="inner-container">
        <div class="item">
          <h1>
            <div class="yellow-background">Coming</div>
          </h1>
        </div>
        <div class="item">
          <div class="spacing">&nbsp;</div>
        </div>
        <div class="item">
          <h1>
            <div class="yellow-background">Soon</div>
          </h1>
        </div>
      </div>
      <div class="inner-container">
        <div class="item">
          <h3>March 26th - 27th</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="half-cyan-block">&nbsp;</div>
  <div class="half-magenta-block">&nbsp;</div>
</div>
<div class="yellow-block">&nbsp;</div>
<div class="primary">
  <div class="primary-inner-container">
    <div class="texture-7op">
      <div class="primary-item">
        <p>Whether you are starting out or finishing your degree, RowdyHacks has something for everyone</p>
      </div>
    </div>
    <div class="magenta-block">&nbsp;</div>
  </div>
</div>