<div class="layoutadj">
  <div class="yellow-block">&nbsp;</div>
  <div class="header">
    <div class="half-cyan-block">&nbsp;</div>
    <div class="half-magenta-block">&nbsp;</div>
    <div class="texture-5op">
      <div class="main-container">
        <div class="inner-container">
          <div class="item">
            <h1>
              <div class="cyan-background">Rowdy</div><div class="magenta-background">Hacks</div>
            </h1>
          </div>
          <div class="item">
            <div class="spacing">&nbsp;</div>
          </div>
          <div class="item">
            <h1>
              <div class="cyan-background">2022</div>
            </h1>
          </div>
        </div>
        <div class="inner-container">
          <div class="item">
            <h1>
              <div class="yellow-background">March</div>
            </h1>
          </div>
          <div class="item">
            <div class="spacing">&nbsp;</div>
          </div>
          <div class="item">
            <h1>
              <div class="yellow-background">26th - 27th</div>
            </h1>
          </div>
        </div>
        <div class="inner-container">
          <a href="/attend" class="btn btn-magenta">Register Today!</a>
        </div>
      </div>
      <div class="volume">
        <img src="./assets/images/volume-icon-pink-mute.png" alt="volume" id="volumeIcon" width="65" />
        <audio id="song" src="./assets/audio/deoxys-beats-simply-me_01.wav" autoplay muted loop>
          <source src="./assets/audio/deoxys-beats-simply-me_01.wav" type="audio/mp3">
        </audio>
      </div>
    </div>
    <div class="half-magenta-block">&nbsp;</div>
    <div class="half-cyan-block">&nbsp;</div>
  </div>
  <div class="yellow-block">&nbsp;</div>
  <div class="primary">
    <div class="primary-inner-container">
      <div class="texture-7op">
        <div class="primary-item">
          <div class="inner-container">
            <div class="item">
              <h1>
                <div class="magenta-background">About</div>
              </h1>
            </div>
            <div class="item">
              <div class="spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="cyan-background">Rowdy</div><div class="magenta-background">Hacks</div>
              </h1>
            </div>
            <p>Whether you are starting out or finishing your degree, RowdyHacks has something for everyone</p>
          </div>
        </div>
      </div>
      <div class="magenta-block">&nbsp;</div>
    </div>
    <div class="col-primary">
      <div class="col-primary-inner-container">
        <div class="texture-7op">
          <div class="primary-item">
            <img src="./assets/images/maps.png" alt="maps" />
            <h1>
              <div class="cyan-background">Location</div>
            </h1>
            <p>RowdyHacks will be held completely online.</p>
            <a href="/attend" class="btn btn-magenta">Our Location</a>
          </div>
        </div>
      </div>
      <div class="col-primary-inner-container">
        <div class="texture-7op">
          <div class="primary-item">
            <img src="./assets/images/calendar.png" alt="calendar" />
            <h1>
              <div class="cyan-background">Schedule</div>
            </h1>
            <p>View the schedule for the event's festivities!</p>
            <a href="/schedule" class="btn btn-magenta">See The Schedule</a>
          </div>
        </div>
      </div>
      <div class="col-primary-inner-container">
        <div class="texture-7op">
          <div class="primary-item">
            <img src="./assets/images/discord-background.png" alt="discord" />
            <h1>
              <div class="cyan-background">Discord</div>
            </h1>
            <p>Join our Discord server to stay up to date!</p>
            <a href="#" class="btn btn-magenta">Join Our Discord</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="roadrunner-1">
    <img src="./assets/images/roadrunner_blue_motion.gif" />
  </div>
  <div class="cyan-block">&nbsp;</div>
  <div class="section-container">
    <div class="half-cyan-block">&nbsp;</div>
    <div class="half-magenta-block">&nbsp;</div>
    <div class="texture-5op">
      <div class="primary-item">
        <div class="inner-container">
          <div class="item">
            <h1>
              <div class="cyan-background">Meet</div>
            </h1>
          </div>
          <div class="item">
            <div class="spacing">&nbsp;</div>
          </div>
          <div class="item">
            <h1>
              <div class="magenta-background">The</div>
            </h1>
          </div>
          <div class="item">
            <div class="spacing">&nbsp;</div>
          </div>
          <div class="item">
            <h1>
              <div class="cyan-background">Mentors!</div>
            </h1>
          </div>
        </div>
      </div>
    </div>
    <div class="half-magenta-block">&nbsp;</div>
    <div class="half-cyan-block">&nbsp;</div>
  </div>
  <div class="cyan-block">&nbsp;</div>
  <div class="primary">
    <div class="col-primary">
      <div class="col-primary-inner-container">
        <div class="texture-3op">
          <div class="primary-item">
            <img src="./assets/images/people-guy-3.png" alt="name" />
            <div class="inner-container mentors">
              <div class="item">
                <h1>
                  <div class="cyan-background">FirstName</div>
                </h1>
              </div>
              <div class="item">
                <h1>
                  <div class="magenta-background">LastName</div>
                </h1>
              </div>
            </div>
            <p>Software Engineer</p>
            <a href="#" class="btn btn-magenta">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-primary-inner-container">
        <div class="texture-3op">
          <div class="primary-item">
            <img src="./assets/images/people-guy-2.png" alt="name" />
            <div class="inner-container mentors">
              <div class="item">
                <h1>
                  <div class="cyan-background">FirstName</div>
                </h1>
              </div>
              <div class="item">
                <h1>
                  <div class="magenta-background">LastName</div>
                </h1>
              </div>
            </div>
            <p>Software Engineer</p>
            <a href="#" class="btn btn-magenta">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-primary-inner-container">
        <div class="texture-3op">
          <div class="primary-item">
            <img src="./assets/images/people-gal-1.png" alt="name" />
            <div class="inner-container mentors">
              <div class="item">
                <h1>
                  <div class="cyan-background">FirstName</div>
                </h1>
              </div>
              <div class="item">
                <h1>
                  <div class="magenta-background">LastName</div>
                </h1>
              </div>
            </div>
            <p>Software Engineer</p>
            <a href="#" class="btn btn-magenta">Read More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-primary">
      <div class="col-primary-inner-container">
        <div class="texture-3op">
          <div class="primary-item">
            <img src="./assets/images/people-gal-2.png" alt="name" />
            <div class="inner-container mentors">
              <div class="item">
                <h1>
                  <div class="cyan-background">FirstName</div>
                </h1>
              </div>
              <div class="item">
                <h1>
                  <div class="magenta-background">LastName</div>
                </h1>
              </div>
            </div>
            <p>Software Engineer</p>
            <a href="#" class="btn btn-magenta">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-primary-inner-container">
        <div class="texture-3op">
          <div class="primary-item">
            <img src="./assets/images/people-guy-1.png" alt="name" />
            <div class="inner-container mentors">
              <div class="item">
                <h1>
                  <div class="cyan-background">FirstName</div>
                </h1>
              </div>
              <div class="item">
                <h1>
                  <div class="magenta-background">LastName</div>
                </h1>
              </div>
            </div>
            <p>Software Engineer</p>
            <a href="#" class="btn btn-magenta">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-primary-inner-container">
        <div class="texture-3op">
          <div class="primary-item">
            <img src="./assets/images/people-gal-3.png" alt="name" />
            <div class="inner-container mentors">
              <div class="item">
                <h1>
                  <div class="cyan-background">FirstName</div>
                </h1>
              </div>
              <div class="item">
                <h1>
                  <div class="magenta-background">LastName</div>
                </h1>
              </div>
            </div>
            <p>Software Engineer</p>
            <a href="#" class="btn btn-magenta">Read More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="primary-inner-container">
      <div class="texture-7op">
        <div class="primary-item">
          <div class="inner-container">
            <p>Learn more about the mentors and their awesome backgrounds.</p>
            <a href="/mentors" class="btn btn-magenta">Learn more</a>
          </div>
        </div>
      </div>
      <div class="magenta-block">&nbsp;</div>
    </div>
  </div>
  <div class="roadrunner">
    <img src="./assets/images/roadrunner_yellow_motion.gif" />
  </div>
  <div class="yellow-block">&nbsp;</div>
  <div class="section-container">
    <div class="half-cyan-block">&nbsp;</div>
    <div class="half-magenta-block">&nbsp;</div>
    <div class="texture-5op">
      <div class="primary-item">
        <div class="inner-container">
          <div class="item">
            <h1>
              <div class="cyan-background">Meet</div>
            </h1>
          </div>
          <div class="item">
            <div class="spacing">&nbsp;</div>
          </div>
          <div class="item">
            <h1>
              <div class="magenta-background">Our</div>
            </h1>
          </div>
          <div class="item">
            <div class="spacing">&nbsp;</div>
          </div>
          <div class="item">
            <h1>
              <div class="cyan-background">Partners!</div>
            </h1>
          </div>
        </div>
      </div>
    </div>
    <div class="half-magenta-block">&nbsp;</div>
    <div class="half-cyan-block">&nbsp;</div>
  </div>
  <div class="yellow-block">&nbsp;</div>
  <div class="primary end">
    <div class="primary-inner-container">
      <div class="texture-7op">
        <div class="primary-item">
          <div class="inner-container">
            <p>Thanks to all of the companies and organizations that made 
              RowdyHacks possible!</p>
          </div>
        </div>
      </div>
      <div class="magenta-block">&nbsp;</div>
    </div>
    <div class="col-primary">
      <div class="col-primary-inner-container sponsors-background">
        <div class="texture-3op">
          <div class="primary-item">
            <img src="./assets/images/sponsors/NSA-logo.png" alt="nsa" />
          </div>
        </div>
      </div>
      <div class="col-primary-inner-container sponsors-background">
        <div class="texture-3op">
          <div class="primary-item">
            <img src="./assets/images/sponsors/frost-logo.png" alt="frost" />
          </div>
        </div>
      </div>
      <div class="col-primary-inner-container sponsors-background">
        <div class="texture-3op">
          <div class="primary-item">
            <img src="./assets/images/sponsors/mlh-logo.png" alt="mlh" />
          </div>
        </div>
      </div>
      <div class="col-primary-inner-container sponsors-background">
        <div class="texture-3op">
          <div class="primary-item">
            <img src="./assets/images/sponsors/pwc-logo.svg" alt="pwc" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-primary">
      <div class="col-primary-inner-container sponsors-background">
        <div class="texture-3op">
          <div class="primary-item">
            <img src="./assets/images/sponsors/heb-logo.png" alt="heb" />
          </div>
        </div>
      </div>
      <div class="col-primary-inner-container sponsors-background">
        <div class="texture-3op">
          <div class="primary-item">
            <img src="./assets/images/sponsors/utsa-cos-logo.png" alt="cos" />
          </div>
        </div>
      </div>
      <div class="col-primary-inner-container sponsors-background">
        <div class="texture-3op">
          <div class="primary-item">
            <img src="./assets/images/sponsors/accenture-logo.png" alt="accenture" />
          </div>
        </div>
      </div>
      <div class="col-primary-inner-container sponsors-background">
        <div class="texture-3op">
          <div class="primary-item">
            <img src="./assets/images/sponsors/hcl-logo.png" alt="hcl" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-primary">
      <div class="col-primary-inner-container sponsors-background">
        <div class="texture-3op">
          <div class="primary-item">
            <img src="./assets/images/sponsors/utsa-data-logo.png" alt="utsa-data" />
          </div>
        </div>
      </div>
      <div class="col-primary-inner-container sponsors-background">
        <div class="texture-3op">
          <div class="primary-item">
            <img src="./assets/images/sponsors/utsa-engineering.png" alt="utsa-engineering" />
          </div>
        </div>
      </div>
    </div>
    <div class="primary-inner-container">
      <div class="texture-7op">
        <div class="primary-item">
          <div class="inner-container">
            <p>Interested in becoming a partner? Check out our partnership page.</p>
            <a href="/partners" class="btn btn-magenta">Partner With Us</a>
          </div>
        </div>
      </div>
      <div class="magenta-block">&nbsp;</div>
    </div>
  </div>
</div>

