<div class="layoutadj">
  <div class="yellow-block">&nbsp;</div>
  <div class="header">
      <div class="half-cyan-block">&nbsp;</div>
      <div class="half-magenta-block">&nbsp;</div>
      <div class="texture-5op">
        <div class="main-container">
          <div class="inner-container">
            <div class="item">
              <h1>
                <div class="cyan-background">Meet</div>
              </h1>
            </div>
            <div class="item">
              <div class="spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="magenta-background">The</div>
              </h1>
            </div>
            <div class="item">
              <div class="spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="cyan-background">Mentors!</div>
              </h1>
            </div>
          </div>
          <div class="inner-container">
            <div class="item">
              <h1>
                <div class="yellow-background">Coming</div>
              </h1>
            </div>
            <div class="item">
              <div class="spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="yellow-background">Soon</div>
              </h1>
            </div>
          </div>
        </div>
      </div>
      <div class="half-cyan-block">&nbsp;</div>
      <div class="half-magenta-block">&nbsp;</div>
  </div>
  <div class="yellow-block">&nbsp;</div>
  <div class="primary end primary-adj">
    <div id="mentorsHolder" class="col-primary"></div>
    <div class="primary-inner-container">
      <div class="texture-7op">
        <div class="primary-item">
          <div class="inner-container">
            <p>Interested in becoming a mentor? Check out our online form:</p>
            <a href="https://rowdyhacks.typeform.com/to/uFUB1Fyd?typeform-source=linktr.ee" target="_blank" class="btn btn-magenta">Become A Member</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
