<div class="layoutadj">
  <div class="yellow-block">&nbsp;</div>
  <div class="header">
      <div class="half-cyan-block">&nbsp;</div>
      <div class="half-magenta-block">&nbsp;</div>
      <div class="texture-5op">
        <div class="main-container">
          <div class="inner-container">
            <div class="item">
              <h1>
                <div class="cyan-background">Meet</div>
              </h1>
            </div>
            <div class="item">
              <div class="spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="magenta-background">The</div>
              </h1>
            </div>
            <div class="item">
              <div class="spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="cyan-background">Mentors!</div>
              </h1>
            </div>
          </div>
        </div>
      </div>
      <div class="half-cyan-block">&nbsp;</div>
      <div class="half-magenta-block">&nbsp;</div>
  </div>
  <div class="yellow-block">&nbsp;</div>
  <div class="primary end">
    <div class="primary-inner-container">
      <div class="texture-7op">
        <div class="primary-item">
          <p>‘Come join us mar 26-27...’ blurb (Approx 50-100 words)</p>
        </div>
      </div>
      <div class="magenta-block">&nbsp;</div>
    </div>
  </div>
</div>