<div class="layoutadj">
  <div class="yellow-block">&nbsp;</div>
  <div class="header">
      <div class="half-cyan-block">&nbsp;</div>
      <div class="half-magenta-block">&nbsp;</div>
      <div class="texture-5op">
        <div class="main-container">
          <div class="inner-container">
            <div class="item">
              <h1>
                <div class="cyan-background">Meet</div>
              </h1>
            </div>
            <div class="item">
              <div class="spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="magenta-background">The</div>
              </h1>
            </div>
            <div class="item">
              <div class="spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="cyan-background">Mentors!</div>
              </h1>
            </div>
          </div>
          <div class="inner-container">
            <div class="item">
              <h1>
                <div class="yellow-background">Coming</div>
              </h1>
            </div>
            <div class="item">
              <div class="spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="yellow-background">Soon</div>
              </h1>
            </div>
          </div>
        </div>
      </div>
      <div class="half-cyan-block">&nbsp;</div>
      <div class="half-magenta-block">&nbsp;</div>
  </div>
  <div class="yellow-block">&nbsp;</div>
  <div class="primary end primary-adj">
    <div class="primary-inner-container">
      <div class="texture-7op">
        <div class="primary-item">
          <div class="inner-container">
            <p>Meet our great mentors and read abou their backgrounds!
            If you're interested in becoming a member please go through our online form:</p>
            <a href="https://rowdyhacks.typeform.com/to/uFUB1Fyd?typeform-source=linktr.ee" target="_blank" class="btn btn-magenta">Become A Member</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-primary">
      <div class="col-primary-inner-container mentors">
        <div class="texture-7op">
          <div class="primary-item mentors">
            <img src="../assets/images/mentors/people-guy-3.png" alt="name" />
            <div class="inner-container mentors">
              <div class="item">
                <h1>
                  <div class="cyan-background">FirstName</div>
                </h1>
              </div>
              <div class="item">
                <h1>
                  <div class="magenta-background">LastName</div>
                </h1>
              </div>
            </div>
            <div class="inner-container mentors">
              <div class="item">
                <h2>
                  <div class="yellow-background">Software</div>
                </h2>
              </div>
              <div class="item">
                <div class="mentors-spacing">&nbsp;</div>
              </div>
              <div class="item">
                <h2>
                  <div class="yellow-background">Engineer</div>
                </h2>
              </div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          </div>
        </div>
      </div>
      <div class="col-primary-inner-container mentors">
        <div class="texture-7op">
          <div class="primary-item mentors">
            <img src="../assets/images/mentors/people-gal-1.png" alt="name" />
            <div class="inner-container mentors">
              <div class="item">
                <h1>
                  <div class="cyan-background">FirstName</div>
                </h1>
              </div>
              <div class="item">
                <h1>
                  <div class="magenta-background">LastName</div>
                </h1>
              </div>
            </div>
            <div class="inner-container mentors">
              <div class="item">
                <h2>
                  <div class="yellow-background">Software</div>
                </h2>
              </div>
              <div class="item">
                <div class="mentors-spacing">&nbsp;</div>
              </div>
              <div class="item">
                <h2>
                  <div class="yellow-background">Engineer</div>
                </h2>
              </div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris pariatur.</p>
          </div>
        </div>
      </div>
      <div class="col-primary-inner-container mentors">
        <div class="texture-7op">
          <div class="primary-item mentors" id="mentor1">
            <img src="../assets/images/mentors/people-guy-2.png" alt="name" />
            <div class="inner-container mentors">
              <div class="item">
                <h1>
                  <div class="cyan-background">FirstName</div>
                </h1>
              </div>
              <div class="item">
                <h1>
                  <div class="magenta-background">LastName</div>
                </h1>
              </div>
            </div>
            <div class="inner-container mentors">
              <div class="item">
                <h2>
                  <div class="yellow-background">Software</div>
                </h2>
              </div>
              <div class="item">
                <div class="mentors-spacing">&nbsp;</div>
              </div>
              <div class="item">
                <h2>
                  <div class="yellow-background">Engineer</div>
                </h2>
              </div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris commodo consequat. 
              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore pariatur.</p>
          </div>
        </div>
      </div>
      <div class="col-primary-inner-container mentors">
        <div class="texture-7op">
          <div class="primary-item mentors">
            <img src="../assets/images/mentors/people-gal-2.png" alt="name" />
            <div class="inner-container mentors">
              <div class="item">
                <h1>
                  <div class="cyan-background">FirstName</div>
                </h1>
              </div>
              <div class="item">
                <h1>
                  <div class="magenta-background">LastName</div>
                </h1>
              </div>
            </div>
            <div class="inner-container mentors">
              <div class="item">
                <h2>
                  <div class="yellow-background">Software</div>
                </h2>
              </div>
              <div class="item">
                <div class="mentors-spacing">&nbsp;</div>
              </div>
              <div class="item">
                <h2>
                  <div class="yellow-background">Engineer</div>
                </h2>
              </div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
              fugiat nulla pariatur.</p>
          </div>
        </div>
      </div>
      <div class="col-primary-inner-container mentors">
        <div class="texture-7op">
          <div class="primary-item mentors" id="mentor5">
            <img src="../assets/images/mentors/people-gal-3.png" alt="name" />
            <div class="inner-container mentors">
              <div class="item">
                <h1>
                  <div class="cyan-background">FirstName</div>
                </h1>
              </div>
              <div class="item">
                <h1>
                  <div class="magenta-background">LastName</div>
                </h1>
              </div>
            </div>
            <div class="inner-container mentors">
              <div class="item">
                <h2>
                  <div class="yellow-background">Software</div>
                </h2>
              </div>
              <div class="item">
                <div class="mentors-spacing">&nbsp;</div>
              </div>
              <div class="item">
                <h2>
                  <div class="yellow-background">Engineer</div>
                </h2>
              </div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris pariatur.</p>
          </div>
        </div>
      </div>
      <div class="col-primary-inner-container mentors">
        <div class="texture-7op">
          <div class="primary-item mentors">
            <img src="../assets/images/mentors/people-guy-1.png" alt="name" />
            <div class="inner-container mentors">
              <div class="item">
                <h1>
                  <div class="cyan-background">FirstName</div>
                </h1>
              </div>
              <div class="item">
                <h1>
                  <div class="magenta-background">LastName</div>
                </h1>
              </div>
            </div>
            <div class="inner-container mentors">
              <div class="item">
                <h2>
                  <div class="yellow-background">Software</div>
                </h2>
              </div>
              <div class="item">
                <div class="mentors-spacing">&nbsp;</div>
              </div>
              <div class="item">
                <h2>
                  <div class="yellow-background">Engineer</div>
                </h2>
              </div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          </div>
        </div>
      </div>
      <div class="col-primary-inner-container mentors">
        <div class="texture-7op">
          <div class="primary-item mentors">
            <img src="../assets/images/mentors/people-guy-3.png" alt="name" />
            <div class="inner-container mentors">
              <div class="item">
                <h1>
                  <div class="cyan-background">FirstName</div>
                </h1>
              </div>
              <div class="item">
                <h1>
                  <div class="magenta-background">LastName</div>
                </h1>
              </div>
            </div>
            <div class="inner-container mentors">
              <div class="item">
                <h2>
                  <div class="yellow-background">Software</div>
                </h2>
              </div>
              <div class="item">
                <div class="mentors-spacing">&nbsp;</div>
              </div>
              <div class="item">
                <h2>
                  <div class="yellow-background">Engineer</div>
                </h2>
              </div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          </div>
        </div>
      </div>
      <div class="col-primary-inner-container mentors">
        <div class="texture-7op">
          <div class="primary-item mentors">
            <img src="../assets/images/mentors/people-gal-1.png" alt="name" />
            <div class="inner-container mentors">
              <div class="item">
                <h1>
                  <div class="cyan-background">FirstName</div>
                </h1>
              </div>
              <div class="item">
                <h1>
                  <div class="magenta-background">LastName</div>
                </h1>
              </div>
            </div>
            <div class="inner-container mentors">
              <div class="item">
                <h2>
                  <div class="yellow-background">Software</div>
                </h2>
              </div>
              <div class="item">
                <div class="mentors-spacing">&nbsp;</div>
              </div>
              <div class="item">
                <h2>
                  <div class="yellow-background">Engineer</div>
                </h2>
              </div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris pariatur.</p>
          </div>
        </div>
      </div>
      <div class="col-primary-inner-container mentors">
        <div class="texture-7op">
          <div class="primary-item mentors">
            <img src="../assets/images/mentors/people-guy-2.png" alt="name" />
            <div class="inner-container mentors">
              <div class="item">
                <h1>
                  <div class="cyan-background">FirstName</div>
                </h1>
              </div>
              <div class="item">
                <h1>
                  <div class="magenta-background">LastName</div>
                </h1>
              </div>
            </div>
            <div class="inner-container mentors">
              <div class="item">
                <h2>
                  <div class="yellow-background">Software</div>
                </h2>
              </div>
              <div class="item">
                <div class="mentors-spacing">&nbsp;</div>
              </div>
              <div class="item">
                <h2>
                  <div class="yellow-background">Engineer</div>
                </h2>
              </div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. 
              Duis aute irure dolor in reprehenderi.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>