<div class="header">
    <div class="half-cyan-block">&nbsp;</div>
    <div class="half-magenta-block">&nbsp;</div>
    <div class="main-container">
        <div class="inner-container">
            <div class="item">
            <h1>
                <div class="magenta-background">Sponsors</div>
            </h1>
            </div>
        </div>
        <div class="inner-container">
            <div class="item">
              <h1>
                <div class="yellow-background">Coming</div>
              </h1>
            </div>
            <div class="item">
              <div class="spacing">&nbsp;</div>
            </div>
            <div class="item">
              <h1>
                <div class="yellow-background">Soon</div>
              </h1>
            </div>
          </div>
    </div>
    <div class="half-cyan-block">&nbsp;</div>
    <div class="half-magenta-block">&nbsp;</div>
</div>
<div class="yellow-block">&nbsp;</div>
<div class="body">
    <div class="body-inner-container">
        <div class="body-item">
            <p>‘Thanks to all of the companies and organizations that made RowdyHacks possible!’ type of message (approx 100 words</p>
        </div>
        <div class="magenta-block">&nbsp;</div>
    </div>
</div>

<!-- <div class="container">
    <div class="item">
        <table style="margin-left: auto; margin-right: auto;">
            <tr>
                <th>
                    <img src="../../assets/images/logos/RowdyHacks_City_Logo.png" alt="RowdyHacks Logo">
                </th>
                <th>
                    <img src="../../assets/images/logos/RowdyHacks_City_Logo.png" alt="RowdyHacks Logo">
                </th>
                <th>
                    <img src="../../assets/images/logos/RowdyHacks_City_Logo.png" alt="RowdyHacks Logo">
                </th>
            </tr>
        </table>
        <p>‘Become a Sponsor’ blurb (approx 50 words) w/ link to sponsorship packet + contact info</p>
    </div>
</div> -->